/* ------------------------------------------
  ITEMS LIST VIEW
--------------------------------------------- */
#k2Container .componentheading {
  border-bottom: 1px solid #eee;
  color: #5A5A5A;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.itemListView #itemListPrimary > .clr {
}

.itemListView .itemContainer {
  margin-bottom: 30px;
}

.itemListView .itemContainer .catItemView {
  margin-right: 15px;
  padding: 0;
}

.itemListView .itemContainer.itemContainerLast .catItemView {
  margin: 0 0 0 15px;
}

/* Create date */
.itemListView .catItemDateCreated {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* Item title */
.itemListView .catItemHeader .catItemTitle {
  font-size: 17.5px;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0;
  line-height: 1.4;
}

.itemListView .catItemHeader .catItemTitle a {
  color: #666;
}

.itemListView .catItemHeader .catItemTitle a:hover,
.itemListView .catItemHeader .catItemTitle a:focus,
.itemListView .catItemHeader .catItemTitle a:active {
  color: #069;
}

/* Item Author */
.itemListView .catItemAuthor {
  color: #999;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
}

.itemListView .catItemAuthor a {
  color: #069;
}

/* Item Body */
.itemListView .catItemBody {
  margin: 0;
  padding: 0;
}

.itemListView .catItemIntroText {
  border-bottom: 1px solid #ddd;
  margin: 0 0 20px;
  padding: 0 0 15px;
}

.itemListView .catItemIntroText img {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 15px;
}

/* Item Extrafields */
.itemListView .catItemExtraFields {
  border: 0;
  margin: 0 0 30px;
  padding: 0;
}

.itemListView .catItemExtraFields ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.itemListView .catItemExtraFields ul li {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  padding: 5px 0;
}

/* Item links */
.itemListView .catItemLinks {
  color: #999;
  font-size: 12px;
}

.itemListView .catItemLinks .catItemHitsBlock {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.itemListView .catItemLinks .catItemCategory {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

/* Item Readmore */
.itemListView .catItemReadMore {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}

.itemListView .catItemReadMore .k2ReadMore {
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  font-weight: bold;
  float: right;
  padding: 5px 10px;
  transition: all 0.5s;
}

.itemListView .catItemReadMore .k2ReadMore:hover,
.itemListView .catItemReadMore .k2ReadMore:focus,
.itemListView .catItemReadMore .k2ReadMore:active {
  color: #069;
  text-decoration: none !important;
}

/* Item Date modify */
.itemListView .catItemDateModified {
  border-top: 1px solid #eee;
  color: #999;
  font-size: 11px;
}

/* Pagination */
.itemListView .k2Pagination {
  border-top: 1px solid #ddd;
  font-size: 11px;
  margin: 0;
  padding: 30px 0 0 0;
}

.itemListView .k2Pagination .pagination-list {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}

.itemListView .k2Pagination .pagination-list li {
  background: transparent;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  padding: 0 2px;
}

.itemListView .k2Pagination .pagination-list li a {
  background: #666;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding: 7px 10px;  
}

.itemListView .k2Pagination .pagination-list li a:hover,
.itemListView .k2Pagination .pagination-list li a:focus,
.itemListView .k2Pagination .pagination-list li a:active {
  background: #069;
}

.itemListView .k2Pagination .pagination-list li.disabled a {
  background: #ccc;
  color: #666;
}