.content {
  background-color: #fff;
  &__wrapper {
    @extend .clearfix;
    padding: 0 5rem 3em;
    @include screen(0, $nexus7-portrait, portrait) {
      padding: 0 3rem 3em;
    }
    @include screen(0, $iphone6-plus-portrait, landscape) {
      padding: 0 3rem 3em;
    }
  }
  .page-header {
    h2 {
      @extend  .page_title;
      font-weight: normal;
      text-transform: inherit;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
    }
  }
}
.article {
  position: relative;
  .page_title {
    text-transform: inherit;
  }
  h2 {
    font-family: $Light;
    margin: 0;
    padding-top: 1em;
  }
  h3 {
    font-family: $Medium;
    font-size: $big;
    margin: 0;

  }
  .pull-left {
    @extend .pull-left;
  }
  .pull-right {
    @extend .pull-right;
  }
  p {
    margin: 1em 0;
  }
  strong {
    font-family: $Bold;
  }
  &__3 {
    img {
      @extend .col-md-4;
      padding-top: 1.5em;
    }
  }
  &__10 {
    @extend .article__3;
  }
}

.flat {
  @extend .row;
  @include max-screen($ipad-landscape) {
    margin: 0;
  }
  display: flex;
  flex-wrap: wrap;
  &__partners {
    &--national {
      flex-direction: column;
      max-height: 1000px;
      @include min-screen($nexus10-landscape +1px) {
        max-height: 700px;
      }
      @include screen(0, $ipad-portrait - 1px, portrait) {
        flex-direction: row;
        max-height: inherit;
      }
      @include screen($nexus7-landscape + 1px, $nexus10-landscape, landscape) {
        max-height: 700px;
      }
      @include screen(0, $iphone6-plus-portrait, landscape) {
        flex-direction: row;
        max-height: inherit;
      }
    }
    &--foreign {
      flex-direction: row;
    }
  }
  &__institution {
    &--national {
      flex-direction: column;
      max-height: 900px;
      @include screen($nexus7-portrait + 1px, $nexus10-portrait, portrait) {
        max-height: 1200px;
      }
      @include screen(0, $nexus7-portrait, portrait) {
        flex-direction: row;
        max-height: inherit;
      }
      @include screen($nexus7-landscape + 1px, $nexus10-landscape, landscape) {
        max-height: 900px;
      }
      @include screen(0, $nexus7-landscape, landscape) {
        max-height: 1200px;
      }
      @include screen(0, $iphone6-plus-portrait, landscape) {
        flex-direction: row;
        max-height: inherit;
      }
    }
    &--foreign {
      flex-direction: row;
    }
  }

  &__title {
    font-family:$Regular;
    font-size: $big;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding-left: 5rem;
    @include screen(0, $ipad-portrait - 1px, portrait ) {
      padding-left: 3rem;
    }
  }
  &__item {
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-xs-12;
    @include screen($iphone6-plus-portrait + 1px, $nexus7-landscape, landscape) {
      width: 50%;
    }
    @include screen(0, $iphone6-plus-portrait, landscape) {
     width: 100%;
    }
    //width: 33.33%;
    margin-bottom: 2em;
  }
  &__wrapper {
    background-color: #fff;
    padding: 1.5em;
  }
  &__link {
    font-family: $Light;
    font-size:$big;
    color: #000;
    text-decoration: none;
    &:hover {
      @extend .tdu;
    }
  }
  &__logo {
    min-height: 150px;
  }
  &__img {
    padding-top: 0;
    max-width: 100%;
    margin-bottom: 1em;
  }
}
.pull-left {
  margin: 0 1em 0.5em 0;
  padding-left: 0;
  max-width: 50%;
  @include screen(0, $nexus7-portrait - 1px, portrait) {
    max-width: 100%;
  }
  @include screen(0, $iphone6-plus-portrait, landscape) {
    max-width: 100%;
  }
}
.pull-right {
  margin: 0 1em 0.5em 0;
  padding-right: 0;
  max-width: 50%;
  @include screen(0, $nexus7-portrait - 1px, portrait) {
    max-width: 100%;
  }
  @include screen(0, $iphone6-plus-portrait, landscape) {
    max-width: 100%;
  }
}