.banner {
  @extend .col-md-4;
  @extend .col-sm-12;

  &__project {
    background: url("../img/image/banner_bg.png") no-repeat;
    padding: 2em;
    margin-top: 3em;
    background-size: cover;
    height: auto;
    p {
      color: #fff;
    }
    .h4 {
      @extend h4;
      margin: 0;
      text-transform: uppercase;
    }
    .h1 {
      @extend h1;
      color: #fff;
    }
  }
  &__readmore {
    @extend h4;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: $green;
  }
  &__facebook {
    height: 175px;
    margin-top: 1.5em;
    margin-bottom: 2rem;
    background-color: $green;
  }
  .facebook {
    background: url("../img/icons/banner__fb.png") no-repeat;
    background-position: right bottom;
    height: 175px;
    padding: 2em;
    p {
      margin: 0;
    }
    .h1 {
      font-family: $Medium;
      font-size: $big;
      color: #fff;
      text-transform: uppercase;
    }
    &__link {
      @include ipad(landscape) {color: $grey}
      color: #fff;
      text-decoration: none;
    }
  }
}