* {
  //outline: 1px dotted blue;
  box-sizing: border-box;
}
html, body {
  position: relative;
}
.uk-ua {
  .logo__img--en {
    display: none;
  }
}
.en-gb {
  .logo__img--ua {
    display: none;
  }
}
.site {
  background-color: #f0f0ef;
  height: 100%;
  min-height: 100vh;
  margin-bottom: -5em;
  padding-bottom: 5em;
}
.container {
  @include screen($nexus7-portrait, $nexus7-landscape) {
    position: relative;
  }
}
.container-fluid {
  @include max-screen($nexus7-landscape) {
    padding: 0;
  }
}

.pageid-102,
.pageid-126 {
  .content__wrapper {
    padding-bottom: 10em;
    background: url(../img/image/about-us_bg.png) right bottom no-repeat;
    background-size: 50%;
  }
}

.pageid-101,
.pageid-106 {
  .page_title {
    display: none;
  }
}
.pageid-102,
.pageid-103,
.pageid-104 {
  .submenu {
    .menu__item:first-child {
      a {
        color: $green;
        text-decoration: none;
      }
    }
  }
}
.pageid-105,
.pageid-106 {
  h1, h2 {
    display: none;
  }
}
.pageid-130 {
  .content__wrapper {
    background: #fff;
    overflow: auto;
  }
}

.pageid-104 {
  .breadcrumbs__item--2 {
    display: inline-block;
  }
}
.pageid-134,
.pageid-104 {
  .projectCategory__navlink--inprogress {
    display: none;
  }
}
.pageid-138 {
  .projectCategory__navlink--done {
    display: none;
  }
}

.pageid-,
.pageid-101,
.pageid-104,
.pageid-105,
.pageid-106,
.pageid-130,
.pageid-131,
.pageid-134,
.pageid-135,
.pageid-136,
.pageid-138 {
  .content {
    background-color: transparent;
    &__wrapper {
      padding: 0;
      margin: 0;
    }
  }
  .events__filter {
    display: none;
  }
}
.pageid-130 {
  .events__filter {
    display: block;
  }
  .filter {
    @include screen(0, $md-min, portrait) {
      display: block;
    }
  }
  .filter__button {
    display: none;
  }
  .filter__title {
    display: none;
  }
}
.pageid-135 {
  .article .page_title {
    margin-top: 0;
  }
}
.mainPage__menu .menu > .menu__item.item-103 > a {
  @include screen(0, $ipad-portrait - 1px, portrait) {
    margin-top: 1rem;
  }
}
.pageid-101 {
  .mainPage__menu {
    @include min-screen($ipad-portrait + 1px) {
      display: block;
    }
  }
}