.pageid-101,
.pageid-106 {
  .page_title {
    display: none;
  }
}
.pageid-102,
.pageid-103 {
  .submenu {
    .menu__item:first-child {
      a {
        color: $green;
        text-decoration: none;
      }
    }
  }
}
.pageid-105,
.pageid-106 {
  h1, h2 {
    display: none;
  }
}
/*.pageid-131 {
  .page_title {
    padding-left: 3em;
  }
}*/
.pageid-105,
.pageid-106,
.pageid-130,
.pageid-131,
.pageid-135,
.pageid-136 {
  .content {
    background-color: transparent;
  }
/*  .page_title,
  .submenu,
  .institutions__title{
    padding-left: 10vw;
    !*  TODO: padding-left: 10vw на всіх строрінках, де це потрібно   *!
  }*/
}
.pageid-130 {
  .content__wrapper {
    background: #fff;
    overflow: auto;
  }
}
/*
pre {
  font-size: 0.4em;
}*/
