.dropdown {
  &-button {
    @extend .hidden-md;
    @extend .hidden-lg;
    position: relative;
    float: right;
    margin-right: 15px;
    &__line {
      display: block;
      width: 35px;
      height: 4px;
      margin-bottom: 8px;
      background: $grey;
      transition: all 0.1s ease-in;
      @include screen($nexus5x-portrait, $nexus7-portrait - 1px, portrait) {
        width: 28px;
        margin-bottom: 5px;
      }
      @include screen(0, $nexus5x-portrait - 1px, portrait) {
        width: initial;
        margin-bottom: 5px;
      }
      @include screen(0, $iphone6-plus-portrait, landscape) {
        width: 28px;
        margin-bottom: 5px;
      }
    }
    &__close {
      .dropdown-button {
        &__line {
          background: $green;
          &--1 {
            transform: rotate(45deg);
            margin-top: 15px;
            margin-bottom: 0;
            @include screen($nexus5x-portrait, $nexus7-portrait - 1px, portrait) {
              margin-top: 11px;
            }
            @include screen(0, $nexus5x-portrait - 1px, portrait) {
              margin-top: 10px;
            }
            @include screen(0, $iphone6-plus-portrait, landscape) {
              margin-top: 11px;
            }
          }
          &--2 {
            background-color: transparent;
          }
          &--3 {
            transform: rotate(-45deg);
            margin-top: -15px;
            margin-bottom: 0;
            @include screen($nexus5x-portrait, $nexus7-portrait - 1px, portrait) {
              margin-top: -13px;
            }
            @include screen(0, $nexus5x-portrait - 1px, portrait) {
              margin-top: -13px;
            }
            @include screen(0, $iphone6-plus-portrait, landscape) {
              margin-top: -13px;
            }
          }
        }
      }
    }
  }
}