.events {
  @extend .col-md-8;
  margin-bottom: 3em;
  &__h1 {
    @extend h1;
    background: url("../img/icons/round.png") no-repeat;
    line-height: 1.4em;
    display: inline-block;
    height: 1.5em;
    background-position-x: 5px;
    padding-left: 1em;
    margin-left: -1em;
  }
  .moduletable {
    background: #fff;
    padding: 2em 2em 1em 2em;
  }
  .category {
    margin-top: 1.5em;
  }
  .item {
    overflow: auto;
    margin-bottom: 3em;
    &__image {
      @extend .col-md-4;
      @extend .col-sm-5;
      display: block;
      padding-left: 0;
      img {
        width: 100%;
      }
    }
    &__title {
      @extend h3;
      color: #000;
      text-decoration: none;
    }
    &__text {}
    &__date {
      @extend h4;
      color: #bdbfc0;
      margin-right: 1.5em;
    }
    &__readmore {
      @extend h4;
      color: #000;
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-color: $green;
    }
  }
  &__filter {
    @extend .col-md-2;
    float: right;
    background: #fff;
    padding-top: 4em;
    h6 {
      display: none;
    }
    .filter__item {
      .controls {
        label {
          @extend .tdu;
          background: none;
          font-family: $Regular;
          font-size: $normal;
          color: $light_grey;
          cursor: pointer;
        }
        .checked {
          color: $green;
          text-decoration: none;
        }
      }
    }
  }
  &__pagination {
    @extend .col-md-12;
    .pagination__wrapper {
      background: #f0f0ef;
      margin: auto -15px;
      padding-top: 2em;
      padding-left: 12em;
      padding-bottom: 3em;
    }
  }
  &__item {
    padding: 3em 4em;
  }

}
.event {
  .item {
    &__image {
      @extend .col-md-3;
      padding-left: 0;
      margin-bottom: 2em;
    }
    &__date {
      @extend h3;
      color: #bdbfc0;
      text-align: right;
    }
  }
}

.toEvents {
  @extend h2;
  color: $grey;
  margin-left: 2.8em;
  text-decoration: underline;
  text-decoration-color: $green;
  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 10px;
    margin: 10px;
    background-image: url(../img/icons/triangle.png);
    transform: rotate(-90deg);
  }
}


.eventsCategory {
  @extend .events;
  @extend .col-md-10;
  padding-top: 4em;
  background-color: #fff;
  margin-bottom: 0;
  &__item {}
  .item {
    &__date {
      @extend .col-md-2;
      font-size:$normal;
      text-align: right;
      margin: 0;
    }
    &__image {
     // @extend .col-md-3;
      margin: 0;
      width: 25%;
    }
    &__content {
      @extend .col-md-7;
    }
    &__title {
      font-size:$big;
      line-height:normal;
    }
    &__text {}

    &__readmore {}
  }
}
