.filter {
  @extend .col-md-4;
  @extend .col-sm-12;
  @include screen(0, $md-min, portrait) {
    display: none;
  }
  display: block;
  &__wrapper {}
  &__title {
    @extend h2;
    display: inline-block;
    line-height: 40px;
    float: right;
    margin-right: 1em;
  }
  &__list {
    @include screen($iphone6-plus-portrait, $md-min, portrait ) {
      width: 50%;
    }
  }
  &__item {
    label{
      font-family: $Medium;
      font-size: $small;
      display: block;
      line-height: 1.5em;
    }
    .lb-checkbox {
      font-family: $Light;
    }
    input[type="text"] {
      font-family: $Light;
      font-size: $small;
      color: #000;
      border: 1px solid $green;
      padding: 0.5em 1em;
      width: 100%;
      background-color: transparent;
      background-image: url("../img/icons/search.png");
      background-repeat: no-repeat;
      background-position: 96% center;
      &:focus {
        outline: none;
      }
    }
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
    }
    input[type="checkbox"] + label {
      background: url("../img/icons/sprite.png") no-repeat;
      background-position: 0 3px;
      padding-left: 20px;
    }
    input[type="checkbox"]:checked + label {
      background-position: 0 -38px;
    }
    input[type="radio"] {
      @extend input[type="checkbox"];
    }
    .controls label {
      background: url("../img/icons/sprite.png") no-repeat;
      background-position: 0 -68px;
      padding-left: 20px;
    }
    label.checked {
      background-position: 0 -108px;
    }
    select {
      @extend input[type="text"];
      appearance: none;
      background: transparent url("../img/icons/triangle.png") 95% center no-repeat;
    }
    .btn {
      @extend input[type="text"];
      background-color: $green;
      background-image: none;
      text-align: left;
      cursor: pointer;
    }
  }
}