.header {
  &__logo {
    @extend .col-md-2;
    padding-top: 3em;
  }
  .insidePage__menu {
    @extend .col-md-8
  }
  &__search {
    @extend .col-md-2;
    padding-top: 3em;
  }
}
.pageid-101 {
  .header {
    &__logo {
      @extend .col-md-9;
      padding-top: 0;
      .logo {
        width: 275px;
        margin: 2em auto 3em;
      }
    }
    .insidePage__menu {
      display: none;
    }
    .mainPage__menu {
      @extend .col-md-12;
    }
    &__search {
      padding-top: 4em;
    }
  }
}
.search {
  float: right;
  .element-invisible {
    display: none;
  }
  &__wrapper {
   // margin-top: 4em;
  }
  &__input {
    border: 0;
    background: none;
    border-bottom: 1px solid $green;
    color: $grey;
    padding: 0 0.5em 0.1em;
    max-width: 85%;
    &:focus {
      outline: none;
    }
  }
  &__img {
    &:focus {
      outline: none;
    }
  }
}
.language {
  margin-top: 0.5em;
  float: right;
  a {
    font: 0.85em/1em $Regular;
    color: $green;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: $green;
  }
}

.page_title {
  font-family: $Regular;
  font-size: 3em;
  //padding-left: 3em;
  text-transform: uppercase;
  color: $grey;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

