.header {
  &__logo {
    @extend .col-md-2;
    //@extend .col-sm-8;
    @extend .col-xs-6;
    @include ipad(portrait) {
      width: 66.6%;
      float: left;
      padding-top: 0;
    }
    @include screen($nexus7-portrait, $ipad-portrait - 1px, portrait) {
      width: 50%;
      float: left;
    }
    @include screen(0, $nexus7-portrait, portrait) {
      padding-bottom: 3rem;
      padding-top: 2rem;
    }
    @include screen(0, $iphone5-portrait, portrait) {
      padding-bottom: 4rem;
    }
    padding-top: 3em;
  }
  .insidePage__menu {
    @extend .col-md-8
  }
  &__search {
    @extend .col-md-2;
    @extend .col-sm-4;
    @extend .col-xs-4;
    @include screen(0, $nexus7-portrait - 1px, portrait) {
      padding-top: 3rem;
    }
    @include screen(0, $iphone5-portrait, portrait) {
      margin-left: -5px;
    }
    @include screen(0, $nexus7-landscape, landscape) {
      padding-top: 6rem;
      padding-bottom: 5rem;
      width: 50%;
    }
    padding-top: 4rem;
  }
}
.logo {
  &__img {
    @include screen($nexus7-portrait +1 px, $nexus7-landscape) {
      width: 30%;
      margin-left: 25%;
    }
    @include screen(0, $nexus7-portrait, portrait) {
      width: 100%;
    }
  }
  @include ipad(portrait) {
    width: 275px;
    margin: 2em auto 3em;
  }
}
.pageid-101 {
  .header {
    &__logo {
      @extend .col-md-10;
      @extend .col-sm-8;
      @include screen($nexus5x-landscape, $nexus7-landscape, landscape) {
        width: 50%;
      }
      padding-top: 0;
      .logo {
        @include screen(0, $ipad-portrait - 1px, portrait) {
          width: 100%;
          margin-bottom: 0;
        }
        width: 275px;
        margin: 2em auto 3em;
        &__link {
          display: block;
        }
        &__img {
          @include screen($nexus7-portrait, $nexus7-landscape) {
            width: initial;
            margin-left: auto;
          }
        }
      }
    }
    .insidePage__menu {
      display: none;
    }
    .mainPage__menu {
      @extend .col-md-12;
      @extend .col-xs-12;
      @include screen(0, $ipad-portrait -1px, portrait) {
        display: none;
      }
    }
    &__search {
      padding-top: 4em;
      @include screen($nexus7-portrait, $nexus7-landscape) {
        position: static;
      }
      @include screen(0, $nexus7-portrait - 1px, portrait) {
        padding-top: 3rem;
      }
    }
  }
}
.search {
  @include screen(0, $ipad-portrait - 1px, portrait) {
    //position: relative;
    width: 50%;
    float: left;
  }
  @include screen(0, $nexus7-landscape, landscape) {
    float: left;
  }
  .element-invisible {
    display: none;
  }
  &__button {
    @extend .visible-xs;
    @extend .menu__button;
    background-image: url("../img/icons/search.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__wrapper {
    @include screen(0, $ipad-portrait - 1px, portrait) {
     // display: none;
    }
  }
  &__form {
    @include screen(0, $ipad-portrait - 1px, portrait) {
      display: none;
      position: absolute;
      top: 8.7rem;
      background: #fff;
      margin-top: 9px;
      width: 45vw;
      padding: 5px 0 5px 5px;
    }
    @include screen(0, $nexus7-portrait - 1px, portrait) {
      top: 5.8rem;
      width: 43vw;
    }
  }
  &__input {
    border: 0;
    background: none;
    border-bottom: 1px solid $green;
    color: $grey;
    padding: 0 0.5em 0.1em;
    max-width: 80%;
    &:focus {
      outline: none;
    }
  }
  &__img {
    &:focus {
      outline: none;
    }
  }
}
.language {
  @include screen(0, $ipad-portrait - 1px, portrait) {
    width: 50%;
    margin-top: 0;
  }
  margin-top: 0.5em;
  float: right;
  a {
    font: 0.85em/1em $Regular;
    color: $green;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: $green;
  }

  &__button {
    @extend .visible-xs;
  }
  &__short-name {
    @extend .visible-xs;
    @extend h2;
    @extend .menu__button;
    @include screen(0, $nexus5x-portrait - 1px, portrait) {
      padding-left: 8px;
      padding-top: 12px;
    }
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -18px;
    margin-left: 9px;
    padding-top: 15px;
  }
  &__full-name {
    @extend .hidden-xs;
  }
}
