.mainPage__menu {
  @include screen(0, $nexus10-portrait , portrait) {
    position: relative;
    min-height: 1px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2rem;
    float: left;
  }
  @include screen($nexus7-portrait + 1px, $nexus10-portrait, portrait) {
    display: block;
    padding-bottom: 0;
  }
  @include screen($iphone6-plus-landscape +1px, $nexus7-landscape, landscape) {
    display: block;
  }
  @include screen(0, $iphone6-plus-landscape, landscape) {
    width: 100%;
    float: left;
    padding-bottom: 2rem;
  }
  display: none;
  .menu {
    .item-101 {
      display: none;
    }
    > .menu__item {
      @extend .col-sm-4;
      @include ipad(portrait) {
        height: 100px;
      }
      @include screen($nexus5x-portrait, $nexus7-portrait, portrait) {
        height: 100px;
        margin-bottom: 10px;
      }
      @include screen(0, $nexus5x-portrait - 1px, portrait) {
        height: 80px;
        margin-bottom: 10px;
      }
      @include screen(0, $nexus7-landscape, landscape) {
        height: 80px;
        margin-bottom: 10px;
      }
      @include screen(0, $nexus7-landscape - 1px, landscape) {
        width: 50%;
        float: left;
      }
      height: 170px;

      >a {
        @extend h1;
        @include screen($ipad-portrait, $md-min, portrait) {
          margin-top: 0;
          padding-left: 0;
        }
        @include screen(0, $nexus7-portrait, portrait) {
          width: 70%;
          margin-top: 2rem;
          padding-top: 0;
        }
        @include screen(0, $iphone6-portrait, portrait) {
          margin-top: 1rem;
        }
        @include screen(0, $nexus7-landscape, landscape) {
          margin-top: 0;
          padding-left: 0;
        }
        width: 60%;
        display: block;
        float: right;
        padding: 15px;
        margin-top: 1.5em;
        text-decoration: underline;
        text-decoration-color: $green;
      }
    }
    .parent {
      position: relative;
      &__link{
        &:after {
          @include screen(0, $ipad-landscape) {
            display: none;
          }
          content: '';
          position: absolute;
          width: 12px;
          height: 10px;
          margin: 10px;
          background-image: url("../img/icons/triangle.png");
        }
        &--over {
          background-color: #fff;
          @include max-screen($ipad-landscape) {
            background: transparent;
          }
          &+.menu__child {
            @include ipad() {
              visibility: hidden;
            }
            visibility: visible;
          }
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    &__icon {
      @include screen($ipad-portrait, $md-min, portrait) {
        height: 100%;
      }
      @include screen(0, $ipad-portrait - 1px, portrait) {
        width: 25%;
        height: 100%;
      }
      @include screen(0, $nexus7-landscape - 1px, landscape) {
        height: 100%;
      }
      width: 35%;
      height: 8rem;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 5%;
      display: block;
      float: left;
      &--102 { background-image: url("../img/icons/uiphp.png"); }
      &--103 { background-image: url("../img/icons/apple.png"); }
      &--131 { background-image: url("../img/icons/resources.png"); }
      &--104 { background-image: url("../img/icons/project.png"); }
      &--105 { background-image: url("../img/icons/earth.png"); }
      &--106 { background-image: url("../img/icons/contact.png"); }
    }
    &__child {
      @include screen(0, $ipad-portrait - 1px, portrait) {
        display: none;
      }
      @include screen(0, $nexus7-landscape - 1px, landscape) {
        display: none;
      }
      visibility: hidden;
      padding: 10px;
      background-color: #fff;
      width: 60%;
      float: right;
      position: relative;
      z-index: 1;
      &:hover {
        visibility: visible;
        .parent__link {
          background-color: #ffffff;
        }
      }
      .menu__icon {
        display: none;
      }
      .menu__item {
        .child__link {
          @extend p;
          float: none;
          width:100%;
          margin-top: 0;
          text-transform: none;
          text-decoration: underline;
          text-decoration-color: $green;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
.menu__button {
  @extend .col-xs-2;
  @extend .visible-xs;
  @include screen($nexus7-portrait, $ipad-portrait, portrait) {
    height: 5rem;
    width: 5rem;
    line-height: 3rem;
  }
  @include screen($nexus5x-portrait, $nexus7-portrait - 1px, portrait) {
    height: 3rem;
    width: 3rem;
    line-height: 1rem;
  }
  @include screen(0, $nexus5x-portrait - 1px, portrait) {
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1rem;
  }
  @include screen(0, $nexus7-landscape - 1px, landscape) {
    height: 5rem;
    width: 5rem;
    line-height: 3rem;
  }
  border-radius: 4px;
  background-color: #fff;
}
.menu-header__button {
  @extend .menu__button;
  @include screen($nexus5x-portrait, $nexus7-portrait - 1px, portrait) {
    margin-top: 3em;
    padding: 0.6rem;
    padding-top: 0.8rem;
  }
  @include screen(0, $nexus5x-portrait - 1px, portrait) {
    margin-top: 3em;
    padding: 0.5rem;
  }
  margin-top: 4em;
  padding: 1.5rem;
  .dropdown-button__line {
    background-color: $green;
  }
}

.insidePage__menu {
  @include max-screen($nexus10-portrait) {
    display: none;
  }
  @include screen(0, $nexus7-landscape, landscape) {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3.8em;
    .item-101 { display: none;}
    &__item {
      width: 100px;
      a {
        font-family: $Regular;
        font-size: $normal;
        line-height: 1.5em;
        color: $grey;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-color: $green;
        &:hover {
          text-decoration: none;
        }
      }
      &--active {
        a {
          color: $green;
          text-decoration: none;
        }
      }
    }
    &__icon {
      display: none;
    }
    &__child {
      display: none;
    }
  }
}