.pagination {
  &__wrapper {
    margin-top: 4em;
  }
  &__item {
    display: inline-block;
    font-family: $Light;
    font-size: 2.25em;
    margin-right: 1em;
    color: $green;
    &--prev {
      display: inline-block;
      a {
        display: block!important;
      }
    }
    &--next {
      @extend .pagination__item--prev;
    }

    a {
      color: #bdbfc0;
      text-decoration: underline;
      text-decoration-color: $green;
    }
  }
}