.parent-title {
  font-size: 1em;
  margin-left: 4rem;
  padding-left: 15px;
  ul {
    padding: 0;
  }
  .breadcrumbs {
    &__item {
      display: none;
      &--active {
        color: $grey;
      }
      &--1 {
        display: block;
        line-height: 1;
        margin-bottom: 0;
      }
    }
    &__divider {
      display: none;
    }
  }
}