.parent-title {
  font-size: 1em;
  margin-left: 4rem;
  padding-left: 15px;
  @include screen(0, $nexus7-portrait, portrait) {
    margin-left: 2rem;
  }
  ul {
    padding: 0;
  }
  .breadcrumbs {
    &__item {
      display: none;
      &--active {
        color: $grey;
      }
      &--1 {
        display: block;
        line-height: 1;
        margin-bottom: 0;
        @include screen(0, $nexus7-portrait, portrait) {
          margin-top: -2rem;
        }
      }
    }
    &__divider {
      display: none;
    }
  }
}