.projectCategory {
  &__list {
    @include ipad(landscape) {
      max-height: 990px;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 770px;
  }
  &__item {
    @extend .col-md-4;
  }
  &__wrapper {
    @extend .resources__wrapper;
    background-size: 100px;
    background-position-y: bottom;
    padding: 2em;
    margin-bottom: 2em;
  }
  &__title {
    font-family: $Light;
    font-size: $big;
    margin-bottom: 1em;
  }
  &__link {
    @extend .tdn;
    color: #000000;
    &:hover {
      @extend .tdu;
    }
  }
  &__date {
    font-family: $Regular;
    font-size: $small;
    color: $light_grey;
  }
  &__field {
    &--1 {
      display: none;
    }
    &--3,
    &--4,
    &--5,
    &--6 {
      @extend .projectCategory__field--1;
    }
  }
  &__nav {
    text-align: center;
  }
  &__navlink {
    @extend .tdu;
    font-family: $Light;
    font-size: 2.25em;
    color: $light_grey;
    text-transform: uppercase;
  }
}
.projectItem {
  @extend .projectCategory__wrapper;
  @extend .clearfix;
  padding-bottom: 4em;
  &__text {
    @extend .col-md-offset-2;
    @extend .col-md-8;
    padding-left: 20px;
    img {}
    h2 {
      font-family: $Medium;
      font-size: 2.25em;
    }
    h3 {
      font-family: $Light;
      font-size: $big;
    }
  }
  &__field {
    @extend .col-md-12;
    margin-bottom: 1em;
  }
  &__fieldName {
    @extend .col-md-2;
    text-align: right;
    font-family: $Medium;
    font-size: $normal;
  }
  &__fieldValue {
    @extend .col-md-8;
    @extend p;
    margin: 0;
  }
}