.recent {
  //padding: 2em;
  &__h1 {
    @extend .events__h1;
    margin-left: 1em;
    margin-bottom: 1em;
  }
  &__category {}
  &__item {
    @extend .col-sm-4;
    margin-bottom: 4em;
  }
  .resources {
    &__item {
      background-color: #fff;
      padding: 1.5em;
      height: 300px;
    }
    &__title {}
    &__format {
      position: absolute;
      bottom: 1.5em;
    }
  }

}