.recent {
  @include screen($phone-portrait, $ipad-portrait, portrait) {
    margin-top: 2em;
  }
  &__h1 {
    @extend .events__h1;
    margin-left: 1em;
    margin-bottom: 1em;
    @include screen( 0, $phone-portrait, portrait) {
      margin-bottom: 0;
    }
  }
  &__category {}
  &__item {
    @extend .col-sm-4;
    margin-bottom: 4em;
    @include screen( 0, $nexus7-portrait, portrait) {
      margin-bottom: 2em;
    }
  }
  .resources {
    &__item {
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: right bottom;
      background-color: #fff;
      padding: 1.5em;
      height: 300px;
      @include screen($nexus7-portrait + 1px, $ipad-portrait, portrait) {
        height: 350px;
      }
      @include screen($nexus5x-portrait, $nexus7-portrait, portrait) {
        height: 225px;
      }
      @include screen(0, $nexus7-landscape, landscape) {
        height: 500px;
      }
    }
    &__title {}
    &__format {
      position: absolute;
      bottom: 1.5em;
    }
  }
  .toEvents {
    @include screen(0, $nexus7-portrait, portrait) {
      margin-left: 3rem;
    }
  }
}