.resources {
  @extend .col-md-8;
  @extend .col-sm-12;
  @include screen($iphone6-plus-landscape + 1px, $nexus7-landscape, landscape) {
    width: 66%;
  }
  @include screen(0, $iphone6-plus-landscape, landscape) {
    margin-top: 3rem;
  }
  .componentheading {
    @extend h2;
    padding: 1em 0 0 1em;
    background-color: #fff;
  }
  &__wrapper {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: bottom;
    background-color: #fff;
    padding: 1.5em;
    margin-bottom: 1.5em;
  }
  &__title {
    font-family: $Bold;
    font-size: $normal;
    line-height: 1.5em;
    text-decoration: none;
    color: #000;
    margin: 0;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $green;
    }
  }
  &__format {
    @extend h4;
    margin: 0;
    color: #bdbfc0;
    text-transform: uppercase;
  }
}