.submenu {
  margin-left: 4rem;
  padding-left: 15px;
  @include screen(0, $nexus7-portrait, portrait) {
    margin-left: 2rem;
  }
  @include screen(0, $nexus7-landscape, landscape) {
    padding-bottom: 2rem;
  }
  .menu {
    margin-bottom: 3em;
    @include max-screen($ipad-landscape) {
      margin-bottom: 1em;
    }
    &__item {
      @include max-screen($ipad-landscape) {
        line-height: 2;
      }
      display: inline-block;
      font-family: $Regular;
      font-size: $normal;
      color: $green;
      margin-right: 2em;
      a {
        color: $grey;
        text-decoration: underline;
        text-decoration-color: $green;
      }
      &--current {
        a {
          color: $green;
          text-decoration: none;
        }
      }
    }
  }
}