.submenu {
  @extend .col-md-offset-2;
  margin-bottom: 3em;
  padding-left: 15px;
  //padding-left: 10vw;
  .menu {
    &__item {
      display: inline-block;
      font-family: $Regular;
      font-size: $normal;
      color: $green;
      margin-right: 2em;
      a {
        color: $grey;
        text-decoration: underline;
        text-decoration-color: $green;
      }
      &--current {
        a {
          color: $green;
          text-decoration: none;
        }
      }
    }
  }
}